@import "tailwindcss";

html, body {
  margin: 0;
  background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; /* keeps it static on scroll */
  background-size: cover;
}